@charset "UTF-8";
/* ======================= */
/*        VARIABLES*/
/* ======================= */
:root {
  /* main */
  --main-color: #757575;
  --white-color: #ffffff;
  --blue-color: #2196F3;
  --black-color: #000000;
  --title-color: #212121;
  --grey-cl-icons: #AFB1B8;
  --background-black-color: #2F303A;
  --bg-grey-cl: #C4C4C4;
  --link-contact-footer: rgba(255, 255, 255, 0.6);
  --bg-cl-footer-icons: rgba(255, 255, 255, 0.1);
  --bg-cl-hero-btn-hover: #188CE8;
  --brd-bot-header: #ECECEC;
  --bg-work-description: rgba(47, 48, 58, 0.8);
  --bg-portfolio-description: rgba(33, 150, 243, 0.9);
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --border-col-form: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  /* portfolio */
  --background-color-portfolio-btn: #F5F4FA;
  --brd-cl-portfolio-fig: #EEEEEE;
  /* Змінна часу */
  --fast-time: 250ms;
  /* Змінна cubic-bezier */
  --easy-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  /* Шрифти */
  --main-font-family: Roboto, sans-serif;
}

/* Приховані заголовки */
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* ================== */
/*        BODY */
/* ================== */
body {
  margin: 0;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--white-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* ================== */
/*     MODAL-FORM */
/* ================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-backdrop);
  z-index: 10;
  opacity: 1;
  /* visibility: visible; */
  -webkit-transition: opacity var(--fast-time) var(--easy-in-out), visibility var(--fast-time) var(--easy-in-out);
  transition: opacity var(--fast-time) var(--easy-in-out), visibility var(--fast-time) var(--easy-in-out);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Початковий стан елемента перед анімацією */
.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: scale(0.3), translate(-50%, -50%);
          transform: scale(0.3), translate(-50%, -50%);
  opacity: 0;
}

/* Кінцевий стан елемента після анімації */
.backdrop .modal-wrapper {
  -webkit-transform: scale(1), translate(-50%, -50%);
          transform: scale(1), translate(-50%, -50%);
  opacity: 1;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  padding: 40px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity var(--fast-time) var(--easy-in-out), -webkit-transform var(--fast-time) var(--easy-in-out);
  transition: opacity var(--fast-time) var(--easy-in-out), -webkit-transform var(--fast-time) var(--easy-in-out);
  transition: transform var(--fast-time) var(--easy-in-out), opacity var(--fast-time) var(--easy-in-out);
  transition: transform var(--fast-time) var(--easy-in-out), opacity var(--fast-time) var(--easy-in-out), -webkit-transform var(--fast-time) var(--easy-in-out);
}

@media screen and (max-width: 479px) {
  .modal-wrapper {
    min-width: 375px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-wrapper {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-wrapper {
    width: 528px;
  }
}

.modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  -webkit-transition: fill var(--fast-time) var(--easy-in-out);
  transition: fill var(--fast-time) var(--easy-in-out);
}

.modal-btn:hover, .modal-btn:focus {
  fill: var(--blue-color);
}

/* modal-form */
.input-container {
  display: block;
  position: relative;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
}

.label-form {
  display: block;
  text-align: start;
  position: absolute;
  /* top: 13px; */
  left: 42px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  -webkit-transition: -webkit-transform var(--fast-time) var(--easy-in-out);
  transition: -webkit-transform var(--fast-time) var(--easy-in-out);
  transition: transform var(--fast-time) var(--easy-in-out);
  transition: transform var(--fast-time) var(--easy-in-out), -webkit-transform var(--fast-time) var(--easy-in-out);
}

.input-form {
  padding-left: 42px;
  display: block;
  width: 100%;
  height: 40px;
  z-index: 5;
  border: 0;
  border: 1px solid var(--border-col-form);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border var(--fast-time) var(--easy-in-out);
  transition: border var(--fast-time) var(--easy-in-out);
}

.input-form:focus {
  border: 1px solid var(--blue-color);
  outline: transparent;
}

.input-form:focus ~ .input-icon {
  fill: var(--blue-color);
}

.input-form:focus ~ .label-form,
.input-form:not(:placeholder-shown) ~ .label-form {
  -webkit-transform: translate(-42px, -37px);
          transform: translate(-42px, -37px);
}

.input-icon {
  display: block;
  position: absolute;
  left: 12px;
  top: 11px;
  z-index: 0;
}

.modal-form__title {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
}

.textarea-container {
  position: relative;
  margin-bottom: 20px;
}

.label-form-comment {
  display: block;
  text-align: start;
  position: absolute;
  top: -18px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.textarea-form-comment {
  display: block;
  text-align: start;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--border-col-form);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border var(--fast-time) var(--easy-in-out);
  transition: border var(--fast-time) var(--easy-in-out);
}

.textarea-form-comment:focus {
  border: 1px solid var(--blue-color);
  outline: transparent;
}

.textarea-form-comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.textarea-form-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.textarea-form-comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.textarea-form-comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

/* Політика приватності (чекбокс) */
.form-policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .form-policy-group {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  outline: 2px solid black;
  outline-offset: -2px;
  border-radius: 2px;
}

.custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity var(--fast-time) var(--easy-in-out);
  transition: opacity var(--fast-time) var(--easy-in-out);
}

.checkbox:checked + .custom-checkbox {
  outline: 2px solid var(--blue-color);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.contract-form {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: var(--blue-color);
}

/* Кнопка */
.form-btn {
  padding: 10px 55px;
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color var(--fast-time) var(--easy-in-out);
  transition: background-color var(--fast-time) var(--easy-in-out);
}

.form-btn:focus, .form-btn:hover {
  background-color: var(--bg-cl-hero-btn-hover);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--blue-color);
}

.logo--black {
  color: var(--black-color);
}

.logo--white {
  color: var(--white-color);
}

.logo--center {
  display: block;
  text-align: center;
}

/* ================== */
/*        HEADER */
/* ================== */
.header {
  border-bottom: 1px solid var(--brd-bot-header);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 94px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  -webkit-transition: color var(--fast-time) var(--easy-in-out);
  transition: color var(--fast-time) var(--easy-in-out);
}

.navigation__link:focus, .navigation__link:hover {
  color: var(--blue-color);
  fill: var(--blue-color);
}

.navigation__link::after {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--blue-color);
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity var(--fast-time) var(--easy-in-out);
  transition: opacity var(--fast-time) var(--easy-in-out);
}

.navigation__link:hover::after, .navigation__link:focus::after {
  opacity: 1;
}

.navigation__link--current {
  color: var(--blue-color);
}

.navigation__link--current::after {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--blue-color);
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .header__contact {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .header__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  fill: var(--main-color);
  -webkit-transition: color var(--fast-time) var(--easy-in-out);
  transition: color var(--fast-time) var(--easy-in-out);
}

@media screen and (min-width: 1200px) {
  .header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__link:focus, .header__link:hover {
  color: var(--blue-color);
  fill: var(--blue-color);
}

.header__icon {
  margin-right: 10px;
}

.menu-btn {
  border: 0;
  background-color: var(--white-color);
  padding: 0;
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 10;
  color: var(--blue-color);
  -webkit-transition: fill var(--fast-time) var(--easy-in-out);
  transition: fill var(--fast-time) var(--easy-in-out);
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn .header__cross-icon {
  display: none;
}

.menu-btn:hover,
.menu-btn:focus .header__menu-icon {
  fill: var(--blue-color);
}

.menu-btn:hover,
.menu-btn:focus .header__cross-icon {
  fill: var(--blue-color);
}

.menu-btn.is-open .header__cross-icon {
  display: block;
}

.menu-btn.is-open .header__menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-btn.is-open ~ .menu-container {
    display: block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform var(--fast-time) var(--easy-in-out);
    transition: -webkit-transform var(--fast-time) var(--easy-in-out);
    transition: transform var(--fast-time) var(--easy-in-out);
    transition: transform var(--fast-time) var(--easy-in-out), -webkit-transform var(--fast-time) var(--easy-in-out);
  }
}

.menu-btn ~ .menu-container {
  -webkit-transition: -webkit-transform var(--fast-time) var(--easy-in-out);
  transition: -webkit-transform var(--fast-time) var(--easy-in-out);
  transition: transform var(--fast-time) var(--easy-in-out);
  transition: transform var(--fast-time) var(--easy-in-out), -webkit-transform var(--fast-time) var(--easy-in-out);
}

.menu-btn.is-open {
  top: 0;
}

.header__cross-icon {
  position: absolute;
  left: 11px;
  top: 11px;
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
  padding: 48px 40px;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-navigation {
  margin-bottom: 302px;
}

.menu-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-color);
  -webkit-transition: color var(--fast-time) var(--easy-in-out);
  transition: color var(--fast-time) var(--easy-in-out);
}

.menu-navigation__link:hover, .menu-navigation__link:focus {
  color: var(--blue-color);
}

.menu-navigation__link--current {
  color: var(--blue-color);
}

.menu-contact {
  margin-bottom: 64px;
}

.menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contact__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}

.menu-contact__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-socials__item {
  padding-left: 10px;
}

.menu-socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.menu-socials__item:first-child {
  padding-left: 0;
}

.menu-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}

/* ================== */
/*       HERO */
/* ================== */
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  /* min-width: 1600px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-grey-cl);
  background-image: url(../images/hero/hero-bg.png), url(../images/hero/hero-img_sm.jpg);
}

.hero__container {
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-bg.png), url(../images/hero/hero-img_sm@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/hero/hero-bg.png), url(../images/hero/hero-img_md.jpg);
  }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-bg.png), url(../images/hero/hero-img_md@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/hero/hero-bg.png), url(../images/hero/hero-img_lg.jpg);
  }
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-bg.png), url(../images/hero/hero-img_lg@2x.jpg);
  }
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  -webkit-transition: background-color var(--fast-time) var(--easy-in-out);
  transition: background-color var(--fast-time) var(--easy-in-out);
}

.hero-btn:focus, .hero-btn:hover {
  background-color: var(--bg-cl-hero-btn-hover);
}

/* ================== */
/*     BENEFITS */
/* ================== */
@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .benefits-list__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list__item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: calc((100% - 3 * 30px) / 4);
    max-width: 270px;
  }
}

@media screen and (max-width: 768px) {
  .benefits-list__item:last-child {
    margin-bottom: 0;
  }
}

.benefits-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color-portfolio-btn);
}

.benefits-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: inherit;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: start;
  }
}

/* ================== */
/*    WHAT WE DO */
/* ================== */
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-bottom: 50px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-list__item {
  position: relative;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: var(--bg-work-description);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: var(--white-color);
}

/* ================== */
/*      OUR TEAM */
/* ================== */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .list-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .list-team .item {
    width: 100%;
  }
  .list-team .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-team .item {
    width: calc((100% - 2 * 15px) / 2);
  }
  .list-team .item:nth-child(odd) {
    margin-right: 30px;
  }
  .list-team .item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-team .item {
    width: calc((100% - 6 * 15px) / 4);
  }
  .list-team .item:not(:last-child) {
    margin-right: 30px;
  }
}

.list-team .title {
  margin-bottom: 10px;
}

.list-team .text {
  margin-bottom: 16px;
}

.list-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: inherit;
  text-align: center;
  color: var(--title-color);
}

.team {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color-portfolio-btn);
}

.figure {
  margin: 0;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.figcaption {
  padding-top: 30px;
  padding-bottom: 24px;
}

.title-team {
  margin-bottom: 50px;
}

.text {
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: inherit;
  text-align: center;
}

.list-team-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-icons:not(:last-child) {
  margin-right: 10px;
}

.link-team-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--grey-cl-icons);
  -webkit-transition: background-color var(--fast-time) var(--easy-in-out), fill var(--fast-time) var(--easy-in-out);
  transition: background-color var(--fast-time) var(--easy-in-out), fill var(--fast-time) var(--easy-in-out);
}

.link-team-icons:hover, .link-team-icons:focus {
  fill: var(--white-color);
  background-color: var(--bg-cl-hero-btn-hover);
  border-radius: 50%;
}

/*==================*/
/*      CLIENTS */
/* ================== */
.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.logo-list__item {
  margin: 15px;
  width: calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: 768px) {
  .logo-list__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .logo-list__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.logo-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: var(--grey-cl-icons);
  -webkit-transition: fill var(--fast-time) var(--easy-in-out), border var(--fast-time) var(--easy-in-out);
  transition: fill var(--fast-time) var(--easy-in-out), border var(--fast-time) var(--easy-in-out);
}

.logo-list__link:hover, .logo-list__link:focus {
  border: 1px solid var(--blue-color);
  fill: var(--blue-color);
}

/* ================== */
/*       FOOTER */
/* ================== */
.footer {
  /* min-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-black-color);
}

@media screen and (min-width: 1200px) {
  .footer-container-address {
    margin-right: 70px;
  }
}

.footer-list-address {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-list-address {
    margin-bottom: 0;
  }
}

.footer-list-address .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;
  color: var(--white-color);
}

.link-contact-footer {
  color: var(--link-contact-footer);
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer-container__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container__tablet {
    margin-bottom: 0;
  }
}

.social-networks-footer {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .social-networks-footer {
    margin-bottom: 0;
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .social-networks-footer {
    margin-top: 12px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.17;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.link-footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--bg-cl-footer-icons);
  border-radius: 50%;
  fill: var(--white-color);
  -webkit-transition: background-color var(--fast-time) var(--easy-in-out);
  transition: background-color var(--fast-time) var(--easy-in-out);
}

.link-footer-icons:hover, .link-footer-icons:focus {
  background-color: var(--blue-color);
  border-radius: 50%;
}

.list-footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-footer-icons:not(:last-child) {
  margin-right: 10px;
}

.footer-form {
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-top: 12px;
  }
}

.label-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.17;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .label-footer {
    display: block;
    text-align: start;
  }
}

.input-footer {
  max-height: 50px;
  margin-bottom: 20px;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  color: var(--link-contact-footer);
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (max-width: 767px) {
  .input-footer {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .input-footer {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .input-footer {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.input-footer::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--link-contact-footer);
}

.input-footer:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--link-contact-footer);
}

.input-footer::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--link-contact-footer);
}

.input-footer::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--link-contact-footer);
}

.footer-btn-form {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color var(--fast-time) var(--easy-in-out);
  transition: background-color var(--fast-time) var(--easy-in-out);
}

.footer-btn-form:focus, .footer-btn-form:hover {
  background-color: var(--bg-cl-hero-btn-hover);
}

.footer-btn-icon-form {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .input-btn-form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
  }
}

/* =============================================== */
/*                      PORTFOLIO */
/* =============================================== */
/* button */
.list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 50px;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .list-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.list-button .item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .list-button .item:nth-last-child(-n+2) {
    margin-top: 15px;
  }
}

@media screen and (max-width: 404px) {
  .list-button .item:nth-last-child(-n+3) {
    margin-top: 15px;
  }
}

.portfolio-btn {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  text-align: center;
  color: var(--title-color);
  background-color: var(--background-color-portfolio-btn);
  -webkit-transition: background-color var(--fast-time) var(--easy-in-out), color var(--fast-time) var(--easy-in-out), -webkit-box-shadow var(--fast-time) var(--easy-in-out);
  transition: background-color var(--fast-time) var(--easy-in-out), color var(--fast-time) var(--easy-in-out), -webkit-box-shadow var(--fast-time) var(--easy-in-out);
  transition: background-color var(--fast-time) var(--easy-in-out), color var(--fast-time) var(--easy-in-out), box-shadow var(--fast-time) var(--easy-in-out);
  transition: background-color var(--fast-time) var(--easy-in-out), color var(--fast-time) var(--easy-in-out), box-shadow var(--fast-time) var(--easy-in-out), -webkit-box-shadow var(--fast-time) var(--easy-in-out);
}

.portfolio-btn:focus, .portfolio-btn:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-portfolio {
  background-color: var(--blue-color);
  color: var(--white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .list-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.figcaption-portfolio {
  padding: 20px 24px;
}

.portfolio-item {
  position: relative;
  border: 1px solid var(--brd-cl-portfolio-fig);
  background-color: var(--white-color);
  -webkit-transition: -webkit-box-shadow var(--fast-time) var(--easy-in-out);
  transition: -webkit-box-shadow var(--fast-time) var(--easy-in-out);
  transition: box-shadow var(--fast-time) var(--easy-in-out);
  transition: box-shadow var(--fast-time) var(--easy-in-out), -webkit-box-shadow var(--fast-time) var(--easy-in-out);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-item {
    width: calc((100% - 2 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc((100% - 4 * 15px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.portfolio-item:hover, .portfolio-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio-figure {
  margin: 0;
}

.title-cards {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.text-cards {
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: inherit;
  color: var(--main-color);
}

.img-portfolio-description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 294px;
  -webkit-transition: -webkit-transform var(--fast-time) var(--easy-in-out);
  transition: -webkit-transform var(--fast-time) var(--easy-in-out);
  transition: transform var(--fast-time) var(--easy-in-out);
  transition: transform var(--fast-time) var(--easy-in-out), -webkit-transform var(--fast-time) var(--easy-in-out);
  background-color: var(--bg-portfolio-description);
  font-weight: inherit;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: inherit;
  color: var(--white-color);
}

.portfolio-item .link:hover .img-portfolio-description,
.portfolio-item .link:focus .img-portfolio-description {
  -webkit-transform: translateY(-294px);
          transform: translateY(-294px);
}

.img-cont-portfolio {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */