/* ================== */
/*    WHAT WE DO */
/* ================== */

.work {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.work__title {
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    justify-content: space-between;

    &__item {
        position: relative;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__description {
        display: flex;
        width: 100%;
        height: 70px;
        background-color: var(--bg-work-description);

        justify-content: center;
        align-items: center;

        position: absolute;
        left: 0;
        bottom: 0;

        // font-weight: 700;
        // font-size: 14px;
        // line-height: 1.14;
        // text-transform: uppercase;
        @include fonts(700, inherit, 1.14, inherit, uppercase);

        color: var(--white-color);
    }
}